@import url(http://fonts.googleapis.com/css?family=Amiri&subset=arabic,latin);




html body [data-ca3_iconfont="ETmodules"]::before {
    font-family: "ETmodules";
}
[data-ca3_icon]::before {
    font-weight: normal;
    content: attr(data-ca3_icon);
}

.ca3-scroll-down-arrow {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
	background-size: contain;
	background-repeat: no-repeat;
}

.ca3-scroll-down-link {
  cursor:pointer;
	height: 60px;
	width: 80px;
	margin: 0px 0 0 -40px;
	line-height: 60px;
	position: absolute;
	left: 50%;
	bottom: 0px;
	color: #FFF;
	text-align: center;
	font-size: 70px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);

	-webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
	-moz-animation:    ca3_fade_move_down 2s ease-in-out infinite;
	animation:         ca3_fade_move_down 2s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
  0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,20px); opacity: 0; }
}
@-moz-keyframes ca3_fade_move_down {
  0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,20px); opacity: 0; }
}
@keyframes ca3_fade_move_down {
  0%   { transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,20px); opacity: 0; }
}


body, html {
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    
  }

  /* .content {
    font-family: 'Amiri', serif;
    position: absolute;
    top: 30%;
    background: #ddd;
    color: #666;
    width: 100%;
    padding: 20px;
    text-align: center;
        
  } */


  
  .ptext1{
    
    
    line-height: 2;
    font-family: 'Amiri', serif;
    position: absolute;
    top: 5%;
    width:100%;
    text-align: center;
    color: #000;
    font-size:20px ;
    /* letter-spacing: 8px; */
    border-radius: 3rem;
    background: #ddd;
    background-size: 100%;
    
}

#el1{
  font-family: 'Amiri', serif;
  color: black;
}


  .ptext{
      line-height: 2;
      padding: 0px;
      font-family: 'Amiri', serif;
      position: absolute;
      top: 50%;
      width: 100%;
      text-align: center;
      color: #000;
      font-size:20px ;
      /* letter-spacing: 8px; */
      word-wrap: break-word;
      background: #ddd;
      background-size: 100%;

      
  }
  .section{
      text-align: center;
      padding: 50px 80px;
  
  }

  .section-light{
      background-color: #f4f4f4;
      color: #666;
 
  }

  .section-dark{
    background-color: #282e34;
    color: #ddd;
    
  }

/* 
#myVideo{
    position: absolute;
    opacity: .9;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    background-repeat: no-repeat;
    background-size: auto;
    background-size: cover;
    min-height: 400px;
      background-repeat: no-repeat;
      background-size: auto;
      background-size: cover;
      width: 100%;
      top:0;
      bottom: 0;
      height: 100%;

} */


.pimg2,.pimg3{
  display: flex;
  justify-content: center;
  position: relative;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
  /* background-image: url('pictures/img-1.jpg'); */
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: auto;
  background-size: cover;
  width: 100vw;
  height: 100vh;
    
}
  .pimg1{
      display: flex;
      justify-content: center;
      position: relative;
      opacity: 1;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      background-attachment: fixed;
      background-image: url('pictures/img-2.jpg');
      min-height: 100%;
      background-repeat: no-repeat;
      background-size: auto;
      background-size: cover;
      width: 100vw;
      height: 100vh;
      /* padding-top: 15rem;
      padding-right: 0;
      padding-bottom: 0;
      padding-left: 0; */
   
  }

  .pimg2{
      background-image: url('pictures/flowers-red-roses.jpg ');
      min-height: 400px;
      background-repeat: no-repeat;
      background-size: auto;
      background-size: cover;
      width: 100vw;
      height: 100vh;
  }


  .pimg3{
    background-image: url('pictures/img-1.jpg');
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: auto;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}




  /* HELP ME ;-; */

*{
    padding: 0px;
    margin: 0px;

}

/* 
.h1{
    font-family: 'Amiri', serif;
}
#h1, h1{
    text-align: center;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
} */

/* Style the video: 100% width and height to cover the entire window */
/* #myVideo {
    position: relative;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: blur(5px);
    -webkit-filter: blur(5px);
  }
   */
  /* Add some content at the bottom of the video/page */
  



   /* parallax  */

  /* .container{
      max-width: 960px;
      margin: 0px auto;
      background-color: #f9f9f9;
      font-size: 24px;
      padding: 25px;
  }

  .parallax{
      background: url('videos/Untitled.mp4') no-repeat center;
      background-size: cover;
      background-attachment: fixed;
      height: 500px;
  }
 */

 

.scroll-down {
  height: 60px;
  width: 30px;
  border: 0;
  position: absolute;
  left: 50%;
  border-radius: 50px;
  cursor: pointer;
  bottom: 1rem;
}
.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 5px solid red;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::before {
  top: 30%;
  animation-delay: 0.3s;
  /* animation: scroll-down 1s ease-in-out infinite; */
}

@keyframes scroll-down {
  0% {
    /* top:20%; */
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}




.scroll-down {
 height: 100px;
 width: 60px;
 border: 0;
 position: absolute;
 left: 50%;
 border-radius: 50px;
 cursor: pointer;
 bottom: 1rem;
}
.scroll-down::before,
.scroll-down::after {
 content: "";
 position: absolute;
 top: 20%;
 left: 50%;
 height: 30px;
 width: 30px;
 transform: translate(-50%, -100%) rotate(45deg);
 border: 8px solid red;
 border-top: transparent;
 border-left: transparent;
 animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::before {
 top: 30%;
 animation-delay: 0.3s;
 /* animation: scroll-down 1s ease-in-out infinite; */
}


@keyframes scroll-down {
 0% {
   /* top:20%; */
   opacity: 0;
 }
 30% {
   opacity: 1;
 }
 60% {
   opacity: 1;
 }
 100% {
   top: 90%;
   opacity: 0;
 }
}

.flex{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  justify-content: space-evenly;
  Flex-wrap:wrap ;
}

@media (max-width: 940px){
.flex{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  justify-content: space-evenly;
  Flex-wrap:wrap ;
}

}



.icsp{
  padding-left: .7rem;
  padding-right: .7rem;
}

.lastsec{
  padding-top: 2rem;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  border: 1px solid red; 
  
}

.lastsec h6{
  display: flex;
  justify-content: start;
}

.lastsec div{
  display: flex;
  flex-direction: row;
  justify-content: center;
}


/* 

.names{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  
} */

/* @media  (min-width: 480px) */
  


  .smlfont{
    font-size: medium;
  }
  .names {
    font-size: larger;
    
  }

  .names {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }


.overlay{
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
}


.link {
  /* RESET */
  text-decoration: none;
  line-height: 1;
  color :rgb(29, 88, 88);
  position: relative;
  z-index: 0;
  display: inline-block;
  padding: 5px 5px;
  overflow: hidden;
  vertical-align: bottom;
  transition: color .3s ease-out;
}

.link::before {
   content: "";
   position: absolute;
   z-index: -1;
   top: 0;
   left: 0;
   transform: translateY(calc(100% - 2px));
   width: 100%;
   height: 100%;
   background: rgb(203,101,101);
   background: linear-gradient(90deg, rgba(203,101,101,1) 53%, rgba(29,203,235,1) 100%); 
   transition: transform .25s ease-out;
   border-radius: 3rem;
}

.link:hover { 
   color: #fff; 
}
.link:hover::before {
   transform: translateY(0);
   transition: transform .25s ease-out;
}


.do3a2{
    line-height: 2;
    font-family: 'Amiri', serif;
}